<p>
  <strong>Name:</strong>
  <%= @picture.name %></br>

  <strong>Category:</strong>
  <ul>
    <% @picture.category_ids.each do |category| %>
      <li><%= category %></li>
    <% end %>
  </ul>

</p>
