<div>
  <div><%= @picture.name %><div></br>

  <div class="categories_box">
    <% @picture.category_ids.each do |category_id| %>
      <% Category.all.each do |category| %>
        <% if category.id == category_id %>
          <i class="<%= "#{category.icon_class}"%>"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
