<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css">

    <title>TextlessSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/b251d02118.js"></script>
  </head>

  <body>
    <div class="navbar">
        <a href='/' class="fa fa-home fa-2x"></a>
        <a href='/pictures/new' class="fa fa-plus-square-o fa-lg"></a>
    </div></br>

    <%= yield %>
  </body>
</html>
