<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">

    <title>TextlessSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
